@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #252a34;
}

.text-content {
    padding: 90px;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 50%;
}


h1 {
    color: #eaeaea;
    font-family: 'Oxanium', cursive;
    font-size: 80px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    color: #ff2e63;
    font-family: 'Oxanium', cursive;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
}
h3 {
    font-family: 'Oxanium', cursive;
    font-weight: lighter;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}
h3 a {
    color: #08d9d6;
    text-decoration: none;
}

img {
    height: 120px;
    width: 120px;
}

.about-page {
    height: 20px;
}

p {
    color: white;
    font-family: 'Oxanium', cursive;
}

.about-page {
    justify-content: center;
    margin: auto;
    padding: 20px;
}







  