@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    margin: auto;
    padding: 0;
    width: 100vh;
    justify-content: center;
    text-align: center;
    background-color: #E9E9E9;
}

.text-content {
    padding-top: 90px;
}


h1 {
    color: #3A4750;
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    font-weight: lighter;
    text-transform: uppercase;
}

h2 {
    color: #3A4750;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
}
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    display: inline-flex;
    text-transform: uppercase;
}
h3 a {
    color: #3A4750;
}

img {
    height: 150px;
    width: 150px;
}